<div class="container"> <!--bk-pdf-directive this is a dierctive-->
    <div class="bkg-hs">
        <h3 class="text-uppercase text-base bkg-hs-ttl">My Booking</h3>
        <div class="btn-group pull-right">
            <a (click)="changestatus('upcomming')" [ngClass]="{'active':status=='upcomming'}" type="button" class="btn btn-bkg active">Upcoming</a>
            <a (click)="changestatus('past')" [ngClass]="{'active':status=='past'}" type="button" class="btn btn-bkg">History</a>          
        </div>
        <div class="bkg-list-container tab-content" >
            
            <div class="tab-pane fade in active" id="upcoming-booking" *ngIf="orders.length!==0">            
                <ul class="bkg-lst-details panel-group" id="accordion">
                    <!--Bkg List Heading-->
                    <li class="bkg-lst-heading">
                        <div class="row">
                            <div class="col-lg-1">#</div>
                            <div class="col-lg-4">Party Title</div>
                            <div class="col-lg-3">Date &amp; Time</div>
                            <div class="col-lg-2">Total Amount</div>
                            <div class="col-lg-2">Ticket View</div>
                        </div>
                    </li>
                    <!--Bkg List Details-->
                    <li class="bkg-lst-hs panel" *ngFor="let o of orders; let i = index" [attr.data-index]="i" [ngClass]="{'past':status !=='past'}">
                        <div class="row">
                            <div class="col-lg-1">{{i + 1}}</div>
                            <div class="col-lg-4">{{o.to.title}}</div>
                            <div class="col-lg-3">{{(o.type!='profile')?(o.to.startdate|date:'medium'):(o.startdate|date:'medium')}}</div>
                            <div class="col-lg-2"><i class="fa fa-inr"><span>{{o.amount}}</span></i></div>
                            <div class="col-lg-2"><a class="btn btn-bkg-view" data-toggle="collapse" data-target="#tkt-dtls">View Ticket</a></div>
                        </div>
                        <div id="tkt-dtls" class="panel-collapse collapse">
                            <div class="row ticket-view-conatiner">
                                <!--Booking Details-->
                                <div class="col-lg-9 col-md-9 col-sm-12 col-lg-12 order-details-section">
                                    <div id="ticket">   
                                        <h3 class="booking-head">{{o.to.title}}</h3>
                                        <div class="row" *ngIf="o.bookingtype">
                                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 respView">
                                              <div class="booking-section">
                                                  <label class="booking-label">Preference</label>
                                                  <p class="booking-type">Table Booking</p>
                                               </div>
                                            </div>
                                        </div>  

                                      <div class="row">
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 respView">
                                                <div class="booking-section">
                                                    <label class="booking-label">Ticket <span class="confirm">Confirmation</span></label>
                                                    <p class="booking-type"><span class="confirm">{{o.status}}</span> ( {{o.segment}} )
                                                        <!--Confirm Icon-->
                                                        <!-- <span class="confirmIcon">&#x2611;</span> -->
                                                        <i class="fa fa-check-circle confirm-icon" aria-hidden="true"></i>
                                                        <!--Pending Icon if any need-->                         
                                                        <!-- <i class="fa fa-info-circle pending-icon" aria-hidden="true"></i> -->
                                                        <!--Failed Icon if any need-->                          
                                                        <!-- <i class="fa fa-times canceled-icon" aria-hidden="true"></i> -->
                                                    </p>
                                                </div>
                                                <div class="booking-section">
                                                    <label class="booking-label">Ticket (s)</label>
                                                    <p class="booking-type">
                                                        <span *ngIf="o.nop_male>0" >{{o.nop_male}} male</span>
                                                        <span *ngIf="o.nop_female>0" >{{o.nop_female}} female</span>
                                                        <span *ngIf="o.nop_couple>0">{{o.nop_couple}} couple</span>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 respView">
                                                <div class="booking-section">
                                                    <label class="booking-label">Order Id</label>
                                                    <p class="booking-type">{{o.orderid}}</p>
                                                </div>
                                                <div class="booking-section">
                                                    <label class="booking-label">Date &amp; Time</label>
                                                    <p class="booking-type">{{(o.type!='profile')?(o.to.startdate):(o.startdate)}}</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 respView">
                                                <div  id="qrcodeCanvas" qr-code-directive class="bar-code">
                                                    <!-- <qrcode version="5" error-correction-level="M" size="350" data="{{o.orderid}}"></qrcode> -->
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 booking-section">
                                                <label class="booking-label">Venue</label>
                                                <p class="booking-type">{{(o.to.location!=undefined && o.to.location!="")?o.to.location:o.to.address}}</p>
                                            </div>
                                      </div>
                                   </div>  

                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 term-condition">
                                        <p>* Subject to Term &amp; Conditions as well as entry Terms</p>
                                        <p>** Subject to GoParties’s Terms &amp; Conditions</p>
                                        <p>**** Should you have any quiries / face any challenges at entry - point, please feel free to contact us at + 91 9711 971 244</p>
                                    </div>
                                    <p><button id="download" class="btn btn-tckt-download" (click)="download()">Download<i class="fa fa-download downloadicon" aria-hidden="true"></i></button></p>
                                </div>
                        <!--Payment Details-->
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 payment-details-section">
                            <div class="row">
                                <div class="col-lg-12 booking-payment-section">
                                    <div class="booking-title-container">
                                        <h3 class="booking-payment-title">Payment Details</h3>  
                                    </div>
                                    <ul>
                                        <li>
                                            <span>Sub Total</span>
                                            <span class="pull-right"><i class="fa fa-inr rupee-icon" aria-hidden="true"></i>{{o.subtotal}}</span>
                                        </li>
                                        <li>
                                            <span>Convienience Charge</span>
                                            <span class="pull-right"><i class="fa fa-inr rupee-icon" aria-hidden="true"></i>{{o.handling}}</span>
                                        </li>
                                        <li>
                                            <span>Discount(50%)</span>
                                            <span class="pull-right"><i class="fa fa-inr rupee-icon" aria-hidden="true"></i>{{o.discount}}</span>
                                        </li>
                                        <li>
                                            <span>Payment Mode </span>
                                            <span class="pull-right">{{o.mode=='poa'?'At Venue':'Credit/Debit Card Netbanking'}}</span>
                                        </li>
                                        <li>
                                            <span>Total Amount</span>
                                            <span class="pull-right"><i class="fa fa-inr rupee-icon" aria-hidden="true"></i>{{o.amount}}</span>
                                        </li>
                                    </ul>
                                    <div class="deal-section">
                                        <label class="deal-label">Additional Offer</label>
                                        <p class="deal-details">50% discount on your first booking</p>
                                    </div>
                                </div>              
                            </div>
                        </div>
                        </div>
                 </div>   
                </li>
                </ul>
            </div>  

            <div class="ifNoBooking" *ngIf="orders.length==0">
                <h3>Found nothing exciting yet?</h3>
                <p>Your booking with goparties will be listed here</p>
                <img src="../assets/images/empty-details-icon.jpg">
                <p>Just feel like to rock the evening and see your booking here</p>
                <div class="pull-right explore-btn" aria-hidden="false">
                    <button class="btn-proceed btn-block text-uppercase" (click)="redirect()"><span>Explore</span></button>
                </div>
            </div>

        </div>

    </div><!--bkg-hs-->
</div><!--End Container-->