<div class="container">
{{order.nop}}
    <div class="modal modal-md fade payment-modal" id="payment-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Continue to the Party..!!</h4>
            </div>
            <div class="modal-body">
                <div class="loading" *ngIf="loading">
                    <div class="sk-circle">
                        <div class="sk-circle1 sk-child"></div>
                        <div class="sk-circle2 sk-child"></div>
                        <div class="sk-circle3 sk-child"></div>
                        <div class="sk-circle4 sk-child"></div>
                        <div class="sk-circle5 sk-child"></div>
                        <div class="sk-circle6 sk-child"></div>
                        <div class="sk-circle7 sk-child"></div>
                        <div class="sk-circle8 sk-child"></div>
                        <div class="sk-circle9 sk-child"></div>
                        <div class="sk-circle10 sk-child"></div>
                        <div class="sk-circle11 sk-child"></div>
                        <div class="sk-circle12 sk-child"></div>
                    </div>
                </div>
                <embed id="payment-em" frameborder="0" class="payment-box" />                
            </div>
            <!-- <div class="modal-footer">
            </div> -->
        </div>
    </div>
</div>
<!-- end container -->